body
{background-color:cornsilk;
    margin: 0px;
    text-align: center;
    font-family: "Helvetica";
}
h1
{
   font-size: 60px;
   color: rgb(69, 116, 117);
}
h2
{
    font-size: 40px;
    color: cadetblue;
}
.back 
{
    color: rgb(69, 116, 117);;
}